.hotel-area {
    display: flex;
    max-width: 60%;
    margin-left: 11rem;
}

.hotel-item {
    padding: 1rem;
}

.hotel-item-1 {
    width: 152%;
}

@media (max-width:767px) {

    .count-down-clock {
        padding: 0px 0 31px!important;
    }
    .hotel-area {
        max-width: 80%;
        margin-left: 2rem;
    }

    .hotel-item-1 {
        width: 225%;
    }
}